
* {
	@include box-sizing(border-box);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, figure, figcaption {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

body {
	background-color: $tertiary-color;  
	font-family: 'Exo', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h3 {
	font-weight: 300;
}
nav {
	background: transparent;
	border-bottom: 2px solid #999;
	font-weight: 300;
	letter-spacing: 0.1rem;
	/*opacity: 0.8;*/
	width: 100%;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		
		@media screen and (min-width: $break-small) {

			:first-child {
					margin-left: auto;
			} 
		}

		li {
			padding: 0.75rem; /* 12px/16px */

			a {
				color: $tertiary-color;
				text-decoration: none;
			}
		}

	}
}

/* Temporary Styles */

/* .objective {
	color: $secondary-color;
	font-size: 2rem;
	margin: 20vh auto 0;
	width: 60%;
} */
