
* {
	@include box-sizing(border-box);
}

h1, h2, h3, h4, figure, figcaption {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

body {
	background-color: $primary-color;  
}

nav {
	background: transparent;
	border-bottom: 2px solid #999;
	opacity: 0.8;
	width: 100%;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; 
		
		/* :first-child {
				margin-left: auto;
			} */

		li {
			padding: 0.75rem; /* 12px/16px */

			a {
				color: $text-color;
				text-decoration: none;
			}
		}

	}
}

/* Temporary Styles */

.project-thumbnails {
	margin: 0 auto;
	width: 80%;
}



