
* {
	@include box-sizing(border-box);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, figure, figcaption {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

body {
	background-color: $tertiary-color;  
	font-family: 'Exo', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}


