footer {
	background-color: $primary-color;
	padding: 2rem;

	.to-top {
		color: $tertiary-color;
		float: right;
		font-family: 'Exo', sans-serif;
		margin: -1.5em -1.5rem 0 0;
		padding: 0.5rem;
		text-decoration: none;
	}

	.social, p {
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}

	.social {
		margin-top: 1rem;
	}
	
	p {
		color: $tertiary-color;
		font-size: 0.9rem;
	} 

	li {
		display: inline-block;
		margin: 0 0.5rem;
		width: 4.5rem;
	}

}