
header {
	background-image: url(../img/dianne-in-desert.jpg);
	background-position: right;
	background-size: cover;
	height: 100vh;
	width: 100vw;

	img {
		border-radius: 50%;
		margin: 1.25rem auto 0 1.25rem; /* 20px/16px */
	}

	h1, h2 {
		color: $text-color;
		font-family: 'Exo', sans-serif;
		font-weight: lighter;
	}

	h1 {
		font-size: 1.5rem; /* 24px/16px */
		letter-spacing: 0.25rem;
		margin-bottom: 0.625rem;
		text-transform: uppercase;
	}
	h2 {
		letter-spacing: 0.19rem;
	}
}

.headline {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: fixed;
	top: 3.5rem; /* 56px/16px */

	.title {
		margin: 1.5rem 0 0 2.25rem;
		padding-top: 1.25rem; /* 20px/16px */
	}
}