

.hero-image {
	background-image: url(../img/dianne-in-desert.jpg);
	background-position: left;
	background-size: cover;
	height: 100vh;

	.headline {
		@include display-flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.title {
			margin: 0 0 0 1.5rem; /* 28px/16px */
		}
	}

	nav {
		background: transparent;
		/*border-bottom: 2px solid #999;*/
		font-weight: 300;
		letter-spacing: 0.1rem;

		ul {
			@include display-flex;
			flex-wrap: wrap;
			justify-content: space-around; 
			
			@media screen and (min-width: $break-small) {

				:first-child {
						margin-left: auto;
				} 
			}

			li {
				padding: 0.75rem; /* 12px/16px */

				a {
					color: $tertiary-color;
					text-decoration: none;
				}
			}
		}
	}


	h1, h2 {
		color: $tertiary-color;
		/*font-family: 'Exo', sans-serif;*/
		font-weight: lighter;
		font-family: 'Courgette', cursive;
	}

	h1 {
		font-size: 1.25rem; /* 20px/16px */
		letter-spacing: 0.25rem;
		margin-bottom: 0.625rem;
		/*text-transform: uppercase;*/

		@media screen and (min-width: $break-medium) {
			font-size: 2.5rem;
		}
	}
	h2 {
		font-size: 0.85rem;
		letter-spacing: 0.19rem;

		@media screen and (min-width: $break-medium) {
			font-size: 1.58rem;
		}
	}
}

/* Hamburger Menu */ 

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}


