
@import url(https://fonts.googleapis.com/css?family=Exo:400,400italic,300italic,300,500,500italic,700,700italic);

header {
	background-image: url(../img/dianne-in-desert-flipped.jpg);
	background-position: left;
	background-size: cover;
	height: 100vh;
	width: 100vw;

	img {
		border-radius: 50%;
		margin: 1.25rem auto 0 1.25rem; /* 20px/16px */
	}

	h1, h2 {
		color: $text-color;
		font-family: 'Exo', sans-serif;
		font-weight: lighter;
	}

	h1 {
		font-size: 1.5rem; /* 24px/16px */
		letter-spacing: 0.25rem;
		margin-bottom: 0.625rem;
		text-transform: uppercase;
	}
	h2 {
		letter-spacing: 0.19rem;
	}
}

.fixed-header {
	position: fixed;
	width: 100%;
}

.headline {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	.title {
		margin: 1.25rem 0 0 1.25rem; /* 20px/16px */
	}
}