
@import url(https://fonts.googleapis.com/css?family=Exo:400,400italic,300italic,300,500,500italic,700,700italic);

header {
	background-image: url(../img/dianne-in-desert.jpg);
	background-position: left;
	background-size: cover;
	height: 100vh;

	.fixed-header {
	/*position: fixed;*/
	width: 100%;
	}

	.logo {
	height: 5rem; /* 80px/16px */
	width: 5rem; /* 80px/16px */
	margin: -10px 27px 0 0;

		@media screen and (min-width: $break-medium) {
			height: 6.25rem;
			width: 6.25rem;
		}
	}

	img {
		border-radius: 50%;
		margin: 1.25rem auto 0 1.25rem; /* 20px/16px */
	}

	h1, h2 {
		color: $tertiary-color;
		font-family: 'Exo', sans-serif;
		font-weight: lighter;
	}

	h1 {
		font-size: 1.25rem; /* 20px/16px */
		letter-spacing: 0.25rem;
		margin-bottom: 0.625rem;
		text-transform: uppercase;

		@media screen and (min-width: $break-medium) {
			font-size: 2rem;
		}
	}
	h2 {
		font-size: 0.85rem;
		letter-spacing: 0.19rem;

		@media screen and (min-width: $break-medium) {
			font-size: 1.4rem;
		}
	}
}


.headline {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.title {
		margin: 1.75rem 0 0 1.5rem; /* 28px/16px */
	}
}