main {
	width: 100%;

	.about, .about-portfolio {
		background-color: $secondary-color;
		padding: 50px 0;

		h3, p {
			padding: 1em 0;
			margin: 0 auto;
			width: 85%;
		}
		
		h3 {
			color: $tertiary-color;
			font-size: 1.25rem;
			letter-spacing: 0.2rem;
			text-align: center;
			text-transform: uppercase;
		}

		p {
			color: $tertiary-color;
			letter-spacing: 0.1rem;
			line-height: 1.5rem;
			text-align: left;
		}
	}

	.project-thumbnails {
	margin: 0 auto;

		.project-1, .project-2, .project-3 {
			background-color: $tertiary-color;
			padding: 4rem 0;
		}

	figure {
		margin: 0 auto;
		width: 80%;
	}

	}
}
