main {
	width: 100%;

	header {
		margin: 0 auto;
		padding: 2rem 0;
		text-align: center;
		width: 85%;
	}

	.portrait {
		display: none;
		float: right;
		height: 5rem; /* 80px/16px */
		width: 5rem; /* 80px/16px */
		margin: -2.2rem 3rem 0 0; /* 54px/16px and 40px/16px */

		@media screen and (min-width: $break-medium) {
			height: 6.25rem;
			width: 6.25rem;
		} 

		img {
			border-radius: 50%;
		}
	}

	h3 {
		font-family: 'Courgette', cursive;
		font-size: 1.25rem;
		letter-spacing: 0.2rem;
		text-align: center;

			@media screen and (min-width: $break-medium) {
				font-size: 1.75rem;
			}
		}

	.about, .about-portfolio {
		background-color: $secondary-color;
		padding: 50px 0;

		h3, p {
			color: $tertiary-color;
		}

		p {
			padding: 1em 0;
			margin: 0 auto;
			width: 85%;
			color: $tertiary-color;
			letter-spacing: 0.1rem;
			line-height: 1.5rem;
			text-align: left;

			@media screen and (min-width: $break-medium) {
				width: 50%;
			}
		}
	}

	#projects {
		padding: 3.125rem 0;

		h3 {
			color: $secondary-color;
			padding-bottom: 0;
		}
	}

	.project-thumbnails {
		margin: 0 auto;
		padding-bottom: 4rem;

			@media screen and (min-width: $break-medium)  {
				@include display-flex;
				padding-top: 0;
			}

		.project-1, .project-2, .project-3 {
			background-color: $tertiary-color;
			padding: 4rem 0 0;

			@media screen and (min-width: $break-medium)  {
				@include display-flex;
				width: 33.33%;
			}
		}

		figure {
			border: 1px solid #ccc;
	    border-radius: 0.5rem;
	    color: $secondary-color;
			margin: 0 auto;
	    padding: 1rem 1rem 2rem;
			width: 85%;
		}

		figcaption {
			font-family: 'Open Sans', sans-serif;
			line-height: 1.25rem;
			margin: 1rem 0;
			text-align: center;

			>a {
			color: $primary-color;
			display: block;
			font-family: 'Exo', sans-serif;
			margin: 0 auto;
			padding: 1rem;
			width: 90%;

				&:hover{
					color: $secondary-color;
				} 
			}
		}
	}	

	.about-portfolio a {
		color: $primary-color;

		&:hover{
			color: $tertiary-color;
		} 
	}
}
