/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "normalize";


/*********************
 Fonts
 *********************/

@import url(https://fonts.googleapis.com/css?family=Exo:400,400italic,300italic,300,500,500italic,700,700italic);


/*********************
 Variables
 *********************/

 $primary-color: #7d97ac; /* blue */
 $secondary-color: #58395a; /* purple */
 $tertiary-color: #f1efef; /* off-white */


/*********************
 Partials 
 *********************/

@import "base";
@import "header";
@import "main";
@import "footer";

